html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #101014; /* Match Naive UI Dark Theme Bg */
    font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
